body{
	margin: 0;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1b2538;
}
ul.nav li {
	float: left;
	border-right: 1px solid #bbbbbb;
}
ul.nav li:last-child {
	border-right: none;
}
ul.nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ul.nav li a:hover {
	background-color: #aaaaaa;
}
ul.nav li.game{
    background-color: #aa0000;
    float: right;
}

ul.nav li.game a:hover {
    background-color: #dd0000;
}

#content{
    margin: 10px 40px 10px 40px;
    padding: 10px;
}


img{
	width: 100%;
	
}

/* 以下ゲームページ用 */

:root {
	--game-width: 50vw;
}

@font-face{
	font-family: 'gameFont';
	src: url('PixelMplus10-Regular.ttf')
}

.game-page{
	background-image: url('siteimage/home-background.jpg');
	font-family: 'gameFont';
	
}

#game-rule{
	color: #fff;
	text-shadow: 0 2px 4px #000;
	margin-left: 15px;
	align-self: flex-start;
}

#game-rule h2{
	margin: 20px 0 10px;
}

#game-rule h3{
	margin: 15px 0 0;
	padding-left: 10px;
}

#game-rule ul{
	font-size: 13px;
	line-height: 22px;
	padding-left: 40px;
	margin: 5px 0 0;
}

#game-rule ul p{
	margin: 0 0 0 0;
}
#game-rule p{
	font-size: 13px;
	/* line-height: 7px; */
	margin: 7px 0 7px 20px;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

